.view{
    width: 99%;
    height: 420px;
    border-radius: 10px;
    border-color: red;
    margin: 10px;
    display:inline-flex;
    padding: 5px;
    background-color: wheat;
}
.view img{
    justify-content: center;
    margin-left: 110px;
}
.view h5{
    justify-content: center;
    margin-left: 160px;
}
.view .cards{
    border-radius: 10px;
    margin-left: 20px;
    background-color: white;
}